#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* From Uiverse.io by Spacious74 */ 
.button {
  font-size: 1.2em;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  outline: none;
  position: relative;
  z-index: 1;
  font-weight: 600;
}

@media (min-width: 768px) {
  .button {
    font-size: 1.4em;
    padding: 0.6em 1.5em;
    min-width: 200px;
  }
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.container {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #ff0000, #00ff00);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  width: fit-content;
  overflow: visible;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: 0;
  background: linear-gradient(90deg, #ff0000, #00ff00);
  filter: blur(0);
  transition: filter 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.container:hover::before {
  filter: blur(1.2em);
  opacity: 1;
}

.container:active::before {
  filter: blur(0.2em);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
